{
  "folders": [
    {
      "path": "notifications-local"
    },
    {
      "path": "document-download-api"
    },
    {
      "path": "document-download-frontend"
    },
    {
      "path": "notifications-admin"
    },
    {
      "path": "notifications-antivirus"
    },
    {
      "path": "notifications-api"
    },
    {
      "path": "notifications-sms-provider-stub"
    },
    {
      "path": "notifications-template-preview"
    },
    {
      "path": "notifications-utils"
    },
    {
      "path": "notifynl-frontend"
    }
  ],
  "settings": {
    "debug.toolBarLocation": "docked",
    "[python]": {
      "editor.defaultFormatter": "ms-python.black-formatter",
      "editor.formatOnSave": true,
      "editor.codeActionsOnSave": {
        "source.fixAll": "explicit"
      },
    },
    "python.analysis.typeCheckingMode": "basic",
    "git.enableCommitSigning": true,
    "makefile.configureOnOpen": false,
    "editor.rulers": [80, 120]
  },
  "extensions": {
    "recommendations": [
      "ms-python.python",
      "ms-python.black-formatter",
      "charliermarsh.ruff",
      "ms-azuretools.vscode-docker",
      "eamodio.gitlens",
      "mtxr.sqltools",
      "mtxr.sqltools-driver-pg",
      "tilt-dev.tiltfile"
    ]
  }
}
